span{
color: rgb(255, 255, 255);
font-weight: bolder;
font-family: 'Courier New', Courier, monospace;
}

table{
    width: 40%;
    border-collapse: collapse;
}
tr{
    background-color: gold;
}
tbody tr:nth-child(odd){
color: blueviolet;
}
tbody tr:nth-child(even){
    color: aqua;
}
thead{
    color: aqua;
}
.kepek{
    gap:60px;
    margin: 10% 30% 10% 30%;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
img{
    border: 1px dashed yellowgreen;
    transform: rotate(-5deg);
    width: 100%;
}
.left{
    transform: rotate(10deg);
}
.kepek #giant{
    width: 100%;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
.formazas{
    text-align: center;
}
ol{
    list-style: upper-roman;
}
table{
    margin: 10px 30% 10px 30%
}
article{
    grid-area: a;
}
nav{
    grid-area: n;
}
header{
    grid-area: h;
}
footer{
    grid-area: f;
}
*{
    box-sizing: border-box;
}
@media screen and (max-width: 700px) {
    .kepek{
        margin: 10% 10% 10% 10%;
        width: 50%;
        grid-template-columns: 1fr;
        display: grid;
    }
}