body{
    font-family: 'Times New Roman', Times, serif;
    background-image:url(kepek/10612792344_5907c4dfab_b.jpg);
    color: white;
}
p{
    font-size: medium;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
a :hover{
    color: rgb(255, 62, 62);
}
a :active{
    color: red;
}
a :visited{
    color: rgba(119, 0, 0, 0.575);
}

footer{
    font-size: xx-large;
}
li{
    float: left;
    margin: 20px;
}
