body{
    font-family: sans-serif;
    background-image:url(kepek/10612792344_5907c4dfab_b.jpg);
    color: darkslategray;
}
main {
    width: 90%;
    margin: 0 5% 0 5%;
    background-color: rgb(255, 245, 190);
}
nav {
    background-color:navajowhite ;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    text-decoration-line: none;
}
p{
    font-size: medium;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
a:link{
    color: red(255, 15, 15);
}
a:hover{
    color: green;
}
a:active{
    color: greenyellow;
}
a:visited{
    color:teal;
}

footer{
    font-size: xx-large;
}
li{
    float: left;
    margin: 20px;
}
p{
    margin: 40px;
    text-align: justify;
}
h3{
    margin: 40px;
}

h2{
    margin: 40px;
}
a{
    margin: 40px;
}
@media screen and (max-width: 800px) {
a{
    margin: 20px;
}
}
body::-webkit-scrollbar{
    width: 7px;
    background:none;
}
body::-webkit-scrollbar-track{
    border-radius: 7px;
    max-height: 10%;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(37, 131, 0);
}
nav{
    grid-area: n;
    grid-template-columns: 1fr ;
    display: grid;
}
@media screen and (max-width: 500px) {
    nav{
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
}