body{
    font-family: 'Times New Roman', Times, serif;
    background-image:url(kepek/10612792344_5907c4dfab_b.jpg);
    color: rgb(255, 0, 0);
}
p{
    font-size: medium;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
a:link{
    color: rgb(255, 15, 15);
}
a:hover{
    color: rgb(255, 62, 62);
}
a:active{
    color: red;
}
a:visited{
    color: rgb(209, 0, 157);
}

footer{
    font-size: xx-large;
}
li{
    float: left;
    margin: 20px;
}
p{
    margin: 40px;
    text-align: justify;
}
h3{
    margin: 40px;
}

h2{
    margin: 40px;
}
a{
    margin: 40px;
}
@media screen and (max-width: 800px) {
a{
    margin: 20px;
}
}
body::-webkit-scrollbar{
    width: 7px;
    background:none;
}
body::-webkit-scrollbar-track{
    border-radius: 7px;
    max-height: 10%;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(37, 131, 0);
}
nav{
    grid-area: n;
    grid-template-columns: 1fr ;
    display: grid;
}
@media screen and (max-width: 500px) {
    nav{
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
}