article{
    grid-area: a;
}

header{
    grid-area: h;
}
footer{
    grid-area: f;
}
main{
    grid-template-areas: "n"
                         "h"
                         "a"
                         "f";
    display: grid;
}

